@page "/"
@attribute [RenderModeInteractiveServer(false)]
@inherits HomeBase

<PageTitle>Home</PageTitle>

<h1>E-PicsPoker</h1>

<div>
    
    @* Room link *@
    <div class="room-link__container">

        <div>
            <p>@RoomLink</p>
        </div>

        <button>
            <img width="30" height="30" src="rsc/icons/navigation/copy.svg" alt="copy"/>
        </button>

        
        <button>
            <img width="30" height="30" src="rsc/icons/navigation/arrow.svg" alt="arrow"/>
        </button>

    </div>
    
    
    @* Room parameters *@
    <div class="room-parameters__container">
        
        <p>Actual: @PicsParameter     </p>
        
        <label for="pics-parameters-3">3</label>
        <input id="pics-parameters-3" name="pics-parameters" type="radio" value="3" @onchange="OnChangePicsParameters"/>  
        
        <label for="pics-parameters-5">5</label>
        <input id="pics-parameters-5" name="pics-parameters" type="radio" value="5" @onchange="OnChangePicsParameters"/>  
        
        <label for="pics-parameters-7">7</label>
        <input id="pics-parameters-7" name="pics-parameters" type="radio" value="7" @onchange="OnChangePicsParameters"/>   
        
    </div>
        
    
    @* Create room *@
    <button @onclick="CreateRoom">CREATE</button>

</div>