@page "/"

<PageTitle>Home</PageTitle>

<h1>E-PicsPoker</h1>

<div>
    
    @* Room link *@
    <div class="room-link__container">

        <div>
            <p>Jesuisunsuperlienetmonbutestdetrequandmemeassezlongpourvoirleresultatfinale</p>
        </div>

        <button>
            <img width="20" height="20" src="rsc/icons/navigation/copy.svg" alt="copy"/>
        </button>

        <button>
            <img width="20" height="20" src="rsc/icons/navigation/arrow.svg" alt="arrow"/>
        </button>

    </div>
    
    
    @* Room parameters *@
    <div class="room-parameters__container">
        <button>3</button>
        <button>5</button>
        <button>7</button>
    </div>
        
    
    @* Create room *@
    <button>CREATE</button>

</div>