@page "/Room/{RoomName}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using EpicsPoker.WebApp.Components.Entity
@inherits RoomBase

<h3>Room: @RoomName</h3>

@if (CurrentGameState == GameState.WaitingForPlayers)
{
    <h3>WaitingPlayer</h3>
    <h3>1/2</h3>
}
else if (CurrentGameState == GameState.ChoosePics)
{
    <h3>Choose pics</h3>
    
    <div>
        @* TODO: 10 devras être modifié par la paramètre du nombre de pics *@
        @for (var i = 0; i < PicsParameter; i++)
        {
            <button @onclick="OnClickOnCard">+</button>
        }
    </div>
}
